
<div class="container">
    
    <p-accordion>
        <p-accordionTab header="Search disease by symptoms">
            Find all diseases with one or more selected symptoms
            <div id="container">
                <form>
                    <div id="left">
                        <p-multiSelect [options]="selectSymptoms" [(ngModel)]="selectedSymptoms" name="selectedSymptoms"></p-multiSelect>            
                    </div>
                    <div id="right">
                        <button class="btn btn-primary" type="submit" id="sendMessageButton" (click)="search()">Search</button> 
                    </div>
                </form>
            </div>
            <div id="bottom">
                <p style="display:inline;">Selected symptoms: {{selectedSymptoms|symptomPipe}}</p>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Search disease by name">
            Find disease with specific name
            <div id="container">
                <form>
                    <div id="left">
                        <input class="form-control" type="text" name="diseaseName" id="username" [(ngModel)]="diseaseName" placeholder="Disease name" />    
                    </div>
                    <div id="right">
                        <button class="btn btn-primary" type="submit" id="sendMessageButton" (click)="searchByName()">Search</button> 
                    </div>
                </form>
            </div>
            <div id="bottom">
                <p style="display:inline;">Selected symptoms: {{selectedSymptoms|symptomPipe}}</p>
            </div>
        </p-accordionTab>
    </p-accordion>
<p-toast position="bottom-right"></p-toast>
</div>
