<div class="container">
    <p-accordion>
        <p-accordionTab header="Search disease by symptoms">
            Find all diseases with one or more selected symptoms
            <div id="container">
                <form>
                    <div id="left">
                        <p-multiSelect [options]="selectSymptoms" [(ngModel)]="selectedSymptoms" name="selectedSymptoms"></p-multiSelect>            
                    </div>
                    <div id="right">
                        <button class="btn btn-primary" type="submit" id="sendMessageButton">Search</button> 
                    </div>
                </form>
            </div>
            <div id="bottom">
                <p style="display:inline;">Selected symptoms: {{selectedSymptoms|symptomPipe}}</p>
                <!--<p style="display:inline;" *ngFor="let s of selectedSymptoms">
                    {{s|symptomPipe}}
                </p>-->
            </div>
        </p-accordionTab>
        <p-accordionTab header="Search disease by name">
            Find disease with specific name
            <div>
                
            </div>
        </p-accordionTab>
</p-accordion>
</div>
