<div class="container">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" id="log-in-h2">Log in</h2>
			<form id="contactForm">
				<div class="control-group">
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Username</label>
						<input class="form-control" type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username" />
						
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<div class="control-group"> 
					<div class="form-group floating-label-form-group controls mb-0 pb-2">
						<label>Password</label>
						<input class="form-control" type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" />				
						<p class="help-block text-danger"></p>
					</div> 
				</div>
				<div class="log-in-button">
					<div class="form-group">
						<button class="btn btn-primary btn-xl" (click)="login()" type="submit" id="sendMessageButton">Log in</button> 
					</div>
				</div>
				<br>
				<div *ngIf="error" class="error">{{error}}</div>
				<br>
			</form>
		</div>
	</div>
</div>