
<div id="admin-add-form" class="container">
    <h5>Admin Info</h5>
    <form name="adminForm" (ngSubmit)="submitChanges()" #adminForm="ngForm">

        <div class="form-group">
            <label for="username"><b>Username</b></label>
            <input type="text"  class="form-control" id="username"
                   required
                   [(ngModel)]="admin.username" name="username"
                   #username="ngModel"
            />
          </div>
  
      <div class="form-group">
        <label for="firstName"><b>First name</b></label>
        <input type="text"  class="form-control" id="firstName"
               required
               [(ngModel)]="admin.firstName" name="firstName"
               #firstName="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="lastName"><b>Last name</b></label>
        <input type="text"  class="form-control" id="lastName"
               required
               [(ngModel)]="admin.lastName" name="lastName"
               #lastName="ngModel"
        />
      </div>
  
      <br/><br/>
  
      <div class="form-group">
        <button type="submit" class="btn btn-success">Confirm</button>
      </div>
    </form>
  </div>
  
  
  